<head>
    <link rel="stylesheet" href="../../assets/index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<!---navbar-->
<div id="main">
    <div class="topnav" id="myTopnav">
        <a href="/pages/landing" id="nav-logo"><img src="https://images.gr-assets.com/doodles/1619806753i/30.svg" height="20px"
                alt="Logo"></a>
        <a href="/landing">Home</a>
        <div class="dropdown" id="avatar">
            
            <button class="dropbtn"><i id='avatar-icon' class="fas fa-user-circle"></i>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="dropdown-content-avatar">
                {{#if name}}
                <h5>{{name}}</h5>
                {{/if}}
                <a href="/pages/bookform?jwtToken={{@root.JWTTOKEN}}&name={{name}}&email={{email}}"><button
                        onclick="document.getElementById('id01').style.display='block'" class="add-btn"><i
                            class="fas fa-plus"></i>Add Book</button></a>
                <a href="/pages/guest">Logout</a>

            </div>
        </div>
        {{!-- <div class="dropdown" id="searchbox">
            <input type="text" placeholder="Search Book"><i class="fa fa-search"></i>
        </div> --}}
        <div class="form-inline">
            <div class="form-group dropdown" id="searchbox">
                <input placeholder="Search Book..." v-model="search" class="form-control">
                <button id="searchButton1" onclick="handleSearch(app.search)"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <a href="#" class="res-nav"><button onclick="document.getElementById('id01').style.display='block'"
                class="w3-button w3-black">Add Book</button></a>
        <a href="#" class="res-nav">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fas fa-bars"></i></a>


    </div>
    <!--book form -->


    <!--index-->
    <div class="index-wrapper">
        <div class="index">
            <div class="left-content">
                <div class="left-content1">
                    <h4>CURRENTLY READING</h4>
                    <div class="what-r-u-doing"><img
                            src="https://s.gr-assets.com/assets/react_components/currently_reading/icn_default_CR_ltrail-16f28d39654104ceb329648a474943eb.svg"
                            alt="">
                        <p>Search and browse books</p>
                    </div>
                    <div class="form-inline">
                        <div class="form-group dropdown" id="searchbox">
                            <input placeholder="Genre/Author/Language" v-model="searchLeft" class="form-control">
                            <button id="searchButton1" onclick="handleSearchLeft(app.searchLeft)"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <a href="">Recommendations</a>.<a href="">General Updates</a>
                </div>
                <div class="left-content2">
                    <h4>2021 READING CHALLENGE</h4>
                    <P>Challenge yourself to read more this year!</P>
                    <div class="what-r-u-doing"><img
                            src="https://i2.wp.com/keepingupwiththepenguins.com/wp-content/uploads/2020/12/Read-More-2021-A-Z-Reading-Challenges-Keeping-Up-With-The-Penguins.jpg?fit=735%2C1102&ssl=1"
                            alt="" width="100px">
                    </div>
                </div>
            </div>
            <div class="updates">
                <h4>UPDATES</h4>
                <div v-for="(data,index) in booksData" class="content">
                    <div v-on:mouseover="rating(index,data._id,name,email)">
                        <p>Trending this week in one of your favorite genres,</p>
                        <a href="">${data.genre}</a>


                        <div class="book-details">

                            <div class="book-img">
                                <img v-bind:src="data.coverImage" alt="">
                            </div>

                            <div class="book-content">
                                <a :href="'/pages/book?bookid=' + data._id + '&jwtToken={{@root.JWTTOKEN}}'">
                                    <h2>${data.bookTitle}</h2>
                                </a>


                                <h4>by ${data.authorName}</h4>
                                <select name="" id=" book-content-dropdown">
                                    <option value="">Want to read</option>
                                </select>
                                <div class="rate-it">
                                    <p>Rate it:</p>
                                    <ul class="rating">
                                        <li class="rating-item" data-rate="1"></li>
                                        <li class="rating-item " data-rate="2"></li>
                                        <li class="rating-item" data-rate="3"></li>
                                        <li class="rating-item" data-rate="4"></li>
                                        <li class="rating-item" data-rate="5"></li>
                                    </ul>
                                </div>
                                <p style="margin-top: 3px;" class="more">${data.description}</p>

                            </div>

                        </div>



                        <div class="comment-box">
                            <input id="InputID" type="text" v-model="comment[index]" placeholder="Add a review...">
                            <button v-on:click="submitcomment(data._id,index)">post</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="footer-links">
                    <div class="company">
                        <h4>COMPANY</h4>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Terms</a></li>
                            <li><a href="">Privacy</a></li>
                        </ul>


                    </div>
                    <div class="work-withus">
                        <h4>WORK WITHUS</h4>
                        <ul>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Terms</a></li>
                            <li><a href="">Privacy</a></li>
                        </ul>




                    </div>

                </div>
                <div class="footer-footer">
                    <h4>CONNECT</h4>
                    <img src="https://s.gr-assets.com/assets/site_footer/footer_facebook-ea4ab848f8e86c5f5c98311bc9495a1b.svg"
                        alt="">
                    <img src="https://s.gr-assets.com/assets/site_footer/footer_twitter-126b3ee80481a763f7fccb06ca03053c.svg"
                        alt="">
                    <img src="https://s.gr-assets.com/assets/site_footer/footer_instagram-d59e3887020f12bcdb12e6c539579d85.svg"
                        alt="">
                    <img src="https://s.gr-assets.com/assets/site_footer/footer_linkedin-5b820f4703eff965672594ef4d10e33c.svg"
                        alt="">

                    <br>
                    <img src="https://s.gr-assets.com/assets/app/badge-ios-desktop-homepage-6ac7ae16eabce57f6c855361656a7540.svg"
                        alt="">

                    <img src="https://s.gr-assets.com/assets/app/badge-android-desktop-home-0f517cbae4d56c88a128d27a7bea1118.png"
                        alt="">
                </div>
            </div>

        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://www.juniper.net/assets/js/jquery/1.4/jquery-1.4.3.min.js"></script>
<script>
    $(document).ready(function () {
        // Configure/customize these variables.
        var showChar = 300;  // How many characters are shown by default
        var ellipsestext = "";
        var moretext = "Read More";
        var lesstext = "Read Less";
        $(' .more').each(function () {
            var content = $(this).html(); if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);
                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span
                class="morecontent" > <span>' + h + '</span> & nbsp;& nbsp; <a href=""
                    class="morelink">' + moretext + '</a></span > ';
                $(this).html(html);
            }
        });
        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    });
    /* Toggle between adding and removing the "responsive" class to topnav when the user
    clicks on the icon */
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }

    /*star rating*/
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script>
    username = `{{{ name }}}`
    email = `{{{ email }}}`
    var app = new Vue({
        el: '#main',
        data: {
            booksData: [],
            search: "",
            searchLeft: "",
            name: username,
            email: email,
            comment: [],
        },
        delimiters: ['${', '}'],
        methods: {
            rating: function (num, id, name, email) {
                console.log(id)
                console.log(name)
                console.log(email)
                console.log("rating function called");
                const container = document.querySelectorAll('.rating')[num];
                const items = container.querySelectorAll('.rating-item');
                container.addEventListener('click', (e) => {

                    const eClass = e.target.classList;
                    items.forEach(
                        item => item.classList.add('not-filled')
                    );
                    if (!eClass.contains('active')) {
                        items.forEach(
                            item => item.classList.remove('active')
                        );
                        console.log(e.target.getAttribute("data-rate"));
                        this.starRating(e.target.getAttribute("data-rate"), id, name, email)
                        eClass.add("active");
                    }
                });
            },
            starRating: function (rating, id, name, email) {
                console.log("pressed star button")
                console.log(rating)
                const data = {}
                data.rating = rating;
                data.id = id;
                data.name = name;
                data.email = email;
                axios.post(`{{#url}}api/rating{{/url}}?jwtToken={{@root.JWTTOKEN}}`, data)
                    .then((res) => {
                        console.log(res)
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            submitcomment: function (id, index) {
                console.log("pressed post button")
                const data = {}
                data.comment = this.comment[index]
                this.comment[index] = ""
                data.id = id
                data.name = this.name
                data.email = this.email
                axios.post(`{{#url}}api/comment{{/url}}?jwtToken={{@root.JWTTOKEN}}`, data)
                    .then((res) => {
                        console.log(res)
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            }
        },

    })
</script>

<script>
    function handleSearch(search) {
        console.log('button clicked')
        app.booksData = []
        console.log(search)
        axios.get(`{{#url}}api/booksapi{{/url}}?search=${search}&jwtToken={{@root.JWTTOKEN}}`).then((res) => {
            app.booksData = res.data.booksData
            console.log(res.data.booksData)
        })
    }
    function handleSearchLeft(searchLeft) {
        console.log('button clicked')
        app.booksData = []
        console.log(searchLeft)
        axios.get(`{{#url}}api/booksapi{{/url}}?searchLeft=${searchLeft}&jwtToken={{@root.JWTTOKEN}}`).then((res) => {
            app.booksData = res.data.booksData
            console.log(res.data.booksData)
        })
    }
    axios.get(`{{#url}}api/booksapi{{/url}}?jwtToken={{@root.JWTTOKEN}}`)
        .then((res) => {
            app.booksData = res.data.booksData
            console.log(app.booksData)
        })
        .catch((err) => {
            console.log(err)
        })
</script>